body{
    margin: 0; padding: 0;
    width: 100%;
    height: 100%;
    display: flex;    /* centred vertically */
    flex-direction: column;
    align-items: center;   /* centred horizontally */
    background-color: #080710;
}
form{
    height: 110px;
    width: 90%;
    min-width: 250px;
    max-width: 300px;
    background-color: rgba(255,255,255,0.13);
    margin: auto;
    position: fixed;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 0 10px rgba(54, 54, 54, 0.6); */
    padding: 25px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
input{
    display: block;
    height: 20px;
    width: 90%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 300;
}
.placeholder1{
    flex: 1;    /* fills all available space */
}
::placeholder{
    color: #e5e5e5;
}
input:last-child{
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    font-weight: 800;
    cursor: pointer;
}
::selection{
    background-color: rgba(255,255,255,0.07);
}
.link{
    color: rgba(255,255,255,0.13);
    display: flex;
    text-decoration: none;
    padding-top: 6px;
}